In [7]:
%matplotlib

Using matplotlib backend: MacOSX

In [8]:
# Dependencies
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
# Import the SQL database into Pandas
engine = create_engine('postgresql://postgres:Wooster19!@localhost:5433/SQL - Homework')
connection = engine.connect()

In [10]:
salaries_data = pd.read_sql('SELECT salary FROM salaries', connection)
salaries_data.describe()

              salary
count  300024.000000
mean    52970.732451
std     14301.478491
min     40000.000000
25%     40000.000000
50%     48681.000000
75%     61758.000000
max    129492.000000

In [11]:
# Create histogram of common salary ranges for employees
salaries_data.hist(column=salary)

NameError: name 'salary' is not defined